@page "/"
@using PilaBlazor.Services

<PageTitle>Home</PageTitle>


<h1>Cola Circular</h1>

<div class="row">
    <div class="col-6">
        <input type="text" class="form-control" @bind="valor" />
    </div>
    <div class="col-3 form-group">
        <button class="btn btn-primary" @onclick="Push">Push</button>
        <button class="btn btn-danger" @onclick="Pop">Pop</button>
    </div>

    <br>
    <br>
    <h3>Elementos</h3>
    <br>
    <div class="contenedor-circulos">
        
                @for (int i = 0; i < MyStack.cola.Length; i++)
                {
                        <div class="circulos">@MyStack.cola[i]</div>
                }
    </div>
</div>



@code {

    public ColaCircular MyStack { get; set; }

    string valor;

    protected override void OnInitialized()
    {
        MyStack = new ColaCircular(5);
        valor = "";
    }

    private void Push()
    {
        if (valor == "") return;

        MyStack.Insertar(valor);
        valor = "";
    }

    private void Pop()
    {
        MyStack.Eliminar();
    }

}